body {
    margin: 0;
    /*background-color: #adadad;*/
    background: url('images/background.gif') center center no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    height: 100vh;
    font-size: 0;
}

body > * {
    /*font-size: 1rem;*/
}

header {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

h3,h1 {
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
    margin: 0px;
}

.header-style {
    /*background-color: black;*/
    height: 120px;
    width: 100vw;
    /*width: 50px;*/
    /*background: url('images/logo.png') no-repeat;*/
}



.header-settings {
    color: white;
    font-size: 10px;
    text-align: right;
    margin-right: 50px;
}

.header-settings a {
    text-decoration: none;
    color: white;
}

.header-settings-on-board {
    font-size: 1rem;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
    text-shadow: 1px 1px red;
    color: white;
    margin: 10px;
}

.header-settings-on-board-images {
    width: 20vw;
    height: 200px;
    margin: 10px;
    cursor: pointer;
}

.header-about {
    color: white;
    font-size: 10px;
    text-align: right;
    margin-right: 50px;
    margin-top: 5px;
}

.header-about a {
    text-decoration: none;
    color: white;
}

.header-about-on-board-title {
    font-size: 1rem;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
    text-shadow: 1px 1px red;
    color: white;
    margin: 10px;
    text-align: center;
}

.header-about-on-board-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 50%;
    opacity: .7;
}

.header-about-on-board {
    font-size: .7rem;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
    /*text-shadow: 1px 1px red;*/
    color: white;
    margin: 10px;
    text-align: center;
}

.header-logo {
    /*margin: 0;*/
    /*padding: 0;*/
    position: absolute;
}

.stats-container {
    /*background-color: black;*/
    /*width: 20vw;*/
    /*!*height: 55vh;*!*/
    /*!*margin: 60px 10px;*!*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*font-size: 1rem;*/
    text-align: center;
    border: 2px dashed rgba(21, 22, 32, 0.98);
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 7%;
    padding-bottom: 10px;
}

.stats-title {
    color: black;
    text-shadow: 1px 1px red;
    /*text-align: center;*/
    margin: 10px;
    font-size: 3vmin;
}

.label {
    color: white;
    /*margin-left: 10px;*/
    text-shadow: 1px 1px black;
    margin: 10px;
    font-size: 2vmin
}


.cardContainer {
    display: inline-block;
    width: 16.6%;
    height: 33%;
    /*float: left;*/
}

.card {
    height: 80%;
    width: 80%;
    position: relative;
    left: 10%;
    right: 10%;
    cursor: url('images/cursor.cur'), auto;;
}

.card img {
    height: 100%;
    width: 100%;
}

.front, .back {
    height: 100%;
    /*background-size: cover;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
}

.front {
    background-image: url('images/front.png');
}

.back {
    background-image: url('images/bowser.png');
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    /*overflow: auto;*/
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6); /*can be anything, of course*/
    /*overflow: hidden;*/

}

.attempts .value {
    color: firebrick;
    /*background-color: white;*/
    /*width: 50%;*/
    text-shadow: 1px 1px black;
}

.games-played .value {
    color: firebrick;
    text-shadow: 1px 1px black;
}

.accuracy .value {
    color: firebrick;
    text-shadow: 1px 1px black;

}

.reset {
    -moz-box-shadow: 0px 1px 0px 0px #e67a73;
    -webkit-box-shadow: 0px 1px 0px 0px #e67a73;
    box-shadow: 0px 1px 0px 0px #e67a73;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #eb675e));
    background:-moz-linear-gradient(top, #e4685d 5%, #eb675e 100%);
    background:-webkit-linear-gradient(top, #e4685d 5%, #eb675e 100%);
    background:-o-linear-gradient(top, #e4685d 5%, #eb675e 100%);
    background:-ms-linear-gradient(top, #e4685d 5%, #eb675e 100%);
    background:linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#eb675e',GradientType=0);
    background-color:#e4685d;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Courier New;
    font-size:15px;
    font-weight:bold;
    padding:10px 22px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    margin: 10px;
}
.reset:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eb675e), color-stop(1, #e4685d));
    background:-moz-linear-gradient(top, #eb675e 5%, #e4685d 100%);
    background:-webkit-linear-gradient(top, #eb675e 5%, #e4685d 100%);
    background:-o-linear-gradient(top, #eb675e 5%, #e4685d 100%);
    background:-ms-linear-gradient(top, #eb675e 5%, #e4685d 100%);
    background:linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb675e', endColorstr='#e4685d',GradientType=0);
    background-color:#eb675e;
}
.reset:active {
    position:relative;
    top:1px;
}

#myProgress {
    width: 100%;
    max-width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 1%;
    max-width: 100%;
    height: 30px;
    background-color: #4CAF50;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    /*font-size: 35px;*/
    font-size: 3vw;
    background-color: rgba(2, 2, 2, 0.56);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 39%;
    color: #ff3c3c;
    text-shadow: 1px 1px grey;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.leaderboard {
    /*display: inline-block;*/
    /*border: 2px solid red;*/
    width: 98%;
    max-width: 98%;
    /*height: 100px;*/
    font-size: 1rem;
    text-align: center;
    border: 2px dashed rgba(255, 124, 80, 0.98);
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 7%;
    margin-top: 5px;
    text-shadow: 1px 1px white;

}

.leaderboard-users {
    color: #62b21b;
    text-shadow: 2px 2px black;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;

}

#myPrompt{
    margin-top: 5px;
    display:none;
    /* Style your prompt here. */
    border: 2px dashed #E91E63;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 7%;
    text-align: center;
    text-shadow: 2px 2px black;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
    color: red;
    font-size: 14px;
}

input#promptButton {
    background-color: red;
    border-radius: 10%;
    font-size: 1rem;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
}

input#promptAnswer {
    width: 30%;
    font-size: 1rem;
}

@keyframes hopFlip {
    0% {
        /*background-color: green;*/
        transform: scale(1)
    }
    5%{
        transform: scale(.7, .9);
    }
    20%{
        transform: scale(.5, 1.2);
        top: -10px;
    }
    25%{
        top: -10px;
        transform: scale(.7, 1.0);
    }
    50%{
        top: 10px;
        transform: scale(1.1, .7);
        /*background-color: green;*/
    }
    75%{
        top: 0px;

    }
    100%{
        transform: scale(1.0, 1.0);
        /*background-color: red;*/
    }
}

.hopFlipAnimation{
    animation: hopFlip 2s 1;
}

.leaderboard-title {
    margin: 10px;
}

.play-audio {
    background: url('images/play.png') center center no-repeat;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    /*margin-top: 10px;*/
    cursor: pointer;
}

.pause-audio {
    background: url('images/pause.png') center center no-repeat;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    /*margin-top: 10px;*/
    cursor: pointer;
}

/*// Mobile Display*/
@media screen and (max-width: 600px) {
    .side-bar-mobile {
        max-width: 50vw;
        vertical-align: top;
        font-size: 1rem;
        overflow-y: auto;
        height: 80vh;
        position: absolute;
        top: 20%;
        right: 0;
    }

    #game-area {
        /*border: 2px solid firebrick;*/
        height: 80vh;
        width: 100vw;
        display: inline-block;
        /*cursor: pointer;*/
    }

    .header-title {
        color: #5eff40;
        text-shadow: 2px 2px black;
        font-size: 2rem;
        text-align: right;
        margin: 0 auto;
        padding: 0;
        font-size: 4vmin;
    }

    .arrow,
    .arrow:before {
        position: absolute;
        right: 0;
    }

    .arrow {
        width: 20px;
        height: 20px;
        top: 50%;
        margin: -20px 0 0 -20px;
        -webkit-transform: rotate(140deg);
        border-left: none;
        border-top: none;
        border-right: 2px #fff solid;
        border-bottom: 2px #fff solid;
        cursor: pointer;
    }

    .arrow:before {
        content: "";
        width: 20px;
        height: 20px;
        top: 50%;
        margin: -10px 0 0 -10px;
        border-left: none;
        border-top: none;
        border-right: 1px #fff solid;
        border-bottom: 1px #fff solid;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: arrow;
    }

    @keyframes arrow {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: translate(-10px, -10px);
        }
    }

    .leaderboard-users div {
        margin: 5px;
        font-size: 2.2vw;
    }


}

/*// Desktop Display*/
@media screen and (min-width: 600px) {

    #game-area {
        /*border: 2px solid firebrick;*/
        height: 80vh;
        width: 79vw;
        display: inline-block;
        /*cursor: pointer;*/
    }

    .header-title {
        color: #5eff40;
        text-shadow: 2px 2px black;
        font-size: 2rem;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        font-size: 4vmin;
    }

    .side-bar {
        width: 20vw;
        max-width: 20vw;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        overflow-y: auto;
        height: 80vh;

    }

    .leaderboard-users div {
        margin: 5px;
        font-size: 1.2vw;
    }

}